* {
  box-sizing: border-box;
}

body {
  margin: 0 8px;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.key-mapping-row,
.key-group,
.key,
.order,
.order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.key-mapping-row {
  justify-content: flex-end;
  flex: 6;
  align-items: flex-start;
}

.key {
  min-width: 58px;
  padding: 8px;
  font-size: 1em;
  margin: 0 6px;
  border: 12px inset #e3e3e3;
  background: #eee;
}

.order-button {
  font-size: 1.2em;
  width: 36px;
  height: 36px;
}

.hidden {
  display: none;
}

.output {
  display: flex;
  flex-direction: column;
}

.output > * {
  margin-bottom: 12px;
}

.output.big * {
  font-size: 24px;
}

#saved-mappings {
  flex: 3;
  margin-left: 50px;
  max-height: calc(100vh - 200px);
  overflow: scroll;
}

#saved-mappings h2 {
  position: sticky;
  top: 0;
  background-color: white;
}

.delete-mapping {
  visibility: hidden;
}

.saved-mapping:hover .delete-mapping {
  visibility: visible;
}

#profile-options {
  position: sticky;
  bottom: 0px;
  display: inline-flex;
  flex-direction: row-reverse;
  background-color: white;
  float: right;
}

#profile-options > * {
  margin: 8px;
}

#load-from-file::before {
  content: "📖 Load Profile from File: ";
}
