.key-mapping-row,
.key-group,
.key,
.order,
.order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.key {
  height: 36px;
  min-width: 36px;
  padding: 8px;
  font-size: 2em;
  margin: 0 6px;
  border: 12px inset #e3e3e3;
  background: #eee;
}

.order-button {
  font-size: 1.5em;
  width: 36px;
  height: 36px;
}

.hidden {
  display: none;
}

.output {
  display: flex;
  flex-direction: column;
}

.output > * {
  margin-bottom: 12px;
}

.output.big * {
  font-size: 24px;
}

.delete-mapping {
  visibility: hidden;
}

.saved-mapping:hover .delete-mapping {
  visibility: visible;
}
