* {
  box-sizing: border-box;
}

body {
  margin: 0 8px;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.advanced-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* Tall enough to not be on top of the footer actions */
  max-height: calc(100vh - 200px);
}

.key-mapping-row {
  grid-area: 1 / 1 / 2 / 2;
}

.helper {
  grid-area: 2 / 1 / 3 / 2;
}

#saved-mappings {
  grid-area: 1 / 2 / 3 / 3;
}

.key-mapping-row,
.key-group,
.key,
.order,
.order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.key-mapping-row {
  justify-content: flex-end;
  flex: 6;
  align-items: flex-start;
}

.key {
  min-width: 58px;
  padding: 8px;
  font-size: 1em;
  margin: 0 6px;
  border: 12px inset #e3e3e3;
  background: #eee;
}

.order-button {
  font-size: 1.2em;
  width: 36px;
  height: 36px;
}

.hidden {
  display: none;
}

.output {
  display: flex;
  flex-direction: column;
}

.output > * {
  margin-bottom: 12px;
}

.output.big * {
  font-size: 24px;
}

.helper {
  display: flex;
  justify-content: flex-end;
}

.helper > * {
  display: none;
}

.helper.stick .angle-circle-container {
  display: block;
}

.angle-circle-container {
  container-type: inline-size;
  width: 270px;
}

.angle-circle {
  border: 1cqi solid #000;
  border-radius: 50cqw;
  position: relative;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.angle-circle .vert-line {
  height: 100%;
  width: 1cqw;
  background: black;
  position: absolute;
}

.angle-circle .hori-line {
  width: 100%;
  height: 1cqw;
  background: black;
  position: absolute;
}

.angle-circle .active-line {
  rotate: var(--angle, 0deg);
  transform-origin: bottom;
  height: 50%;
  width: 1cqw;
  background: red;
  position: absolute;
  bottom: 50%;
}

#saved-mappings {
  flex: 3;
  margin-left: 50px;
  overflow: scroll;
}

#saved-mappings h2 {
  position: sticky;
  top: 0;
  background-color: white;
}

.delete-mapping {
  visibility: hidden;
}

.saved-mapping .angle-circle-container {
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.saved-mapping:hover .delete-mapping {
  visibility: visible;
}

#profile-options {
  position: sticky;
  bottom: 0px;
  display: inline-flex;
  flex-direction: row-reverse;
  background-color: white;
  float: right;
}

#profile-options > * {
  margin: 8px;
}

#load-from-file::before {
  content: "📖 Load Profile from File: ";
}
